.homeCardPart {
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
	margin: 0 10px;
}
card {
	border: none;
}
.homeCardPart img {
	width: 200px;
	height: 200px;
	paddings: 10px;
}
