.homeCardPart {
	display: block;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
	margin: 0 10px;
}
.homeCardPart :hover {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.596);
}

card {
	border: none;
}
.homeCardPart img {
	width: 200px;
	height: 200px;
	padding: 10px;
}
.homeCardPart button {
	width: 100px;
	text-align: center;
}
