.homePart {
	min-height: 900px;
	background-image: url(../../Images/Background.jpg);
	background-position: center;
	background-size: cover;
}

.homeCard {
	display: flex;
	margin-top: 150px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
