.homePart {
	min-height: 700px;
	background-image: url(../../Images/Background.jpg);
	background-position: center;
	background-size: cover;
}

.homeCard {
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}
